{% extends "layout/layout.html.twig" %}

{% block title %}Read article "{{  article.title }}"{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h4 class="text-center article-title">{{ article.title }}</h4>
        <div class="col-sm-6 col-xs-12">
            <h6>Author</h6>
            <p class="post-details">{{ article.author }}</p>
        </div>
        <div class="col-sm-6 col-xs-12 text-right">
            <h6>Publishing date</h6>
            <p class="post-details">{{ article.publish_at | date('Y. m. d. H:i') }}</p>
        </div>
        <hr />
        <div class="col-xs-12">
            <h4>{{ article.short_content }}</h4>
            <p class="text-center"><img src="/uploads/news/{{ article.image }}" class="article-image" alt="Article image" /></p>
        </div>
        <div class="col-xs-12">
            {{ article.content | raw }}
        </div>
        <div class="col-xs-12 text-center mb-4 mt-4">
            <div class="btn-group">
                {% if loggedInUser is not null %}
                    <a href="/news/edit.php?{{ {'id': article.id} | url_encode }}" class="btn btn-success">
                        Edit
                    </a>
                {% endif %}
                <a href="/news/index.php" class="btn btn-primary">
                    Back to index
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}